html {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    border-radius: 24px;
}

.calculator {
    /* border: 2px solid red; */
    background-color: #5A5967;
    width: 330px;
    height: 580px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 20px;
}

p {
    margin: 0;
}

.screen {
    background-color: #ADC9AE;
    flex: 1;
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    padding-right: 16px;
    padding-bottom: 16px;

}

.historic {
    font-size: 16px;
    color: #656573;
}

.result {
    font-size: 36px;
}

.buttons {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

button {
    flex: 1 1 20%;
    color: white;
    font-size: large;
}

#btn-zero {
    flex: 1 1 45.2%;
}

button.other {
    font-size: x-large;
    background-color: #8185BC;
}

button.number {
    font-size: xx-large;
    background-color: #757389;
}

button.operator {
    font-size: x-large;
    background-color: #D56F76;
}

.footer {
    padding: 32px 256px;
    font-weight: 100;
}